nav {
    color: white;
    text-align: right;
    padding-right: 50px;
    background-color: #333646;
    div {
        display: inline-block;
        margin: 25px;
        cursor: pointer;
        user-select: none;
    }
    div:focus {
        outline: none;
    }
}

.active {
    position: relative;
    display: inline-block;
}

.active::after {
    content: "\A";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: var(--oro);
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: -12px auto;
}
