<div class="animate__animated animate__backInDown">
  <header class="container mt-4">
    <a href="">
      <small>Categoria</small>
    </a>
    <h1 class="m-3">Prueba</h1>
    <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis iaculis facilisis odio, at scelerisque lorem
      lobortis ut.
      Sed neque mi, lacinia vel ullamcorper ac, vulputate vitae augue. Proin non elementum nunc. Nulla sed nunc id risus
      fringilla posuere. Mauris id volutpat sem. Pellentesque vitae sagittis mauris. Mauris ultricies sodales
      velit</small>
    <div>
      <small class="creditos">
        <div class="autor">
          Omar Montoya
        </div>
        <div class="fecha">
          Hace 40 días
        </div>
      </small>
    </div>
    <hr>
  </header>
  <div class="container">
  
    <article>
      <img src="https://fakeimg.pl/1240x360" alt="">
      <p>
  
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis iaculis facilisis odio, at scelerisque lorem
        lobortis ut.
        Sed neque mi, lacinia vel ullamcorper ac, vulputate vitae augue. Proin non elementum nunc. Nulla sed nunc id risus
        fringilla posuere. Mauris id volutpat sem. Pellentesque vitae sagittis mauris. Mauris ultricies sodales velit.
        Interdum
        et malesuada fames ac ante ipsum primis in faucibus. Cras bibendum aliquam felis. Praesent quam sem, feugiat in
        efficitur nec, viverra maximus risus. Phasellus mattis, lorem vulputate fermentum sagittis, turpis ex venenatis
        lectus,
        nec facilisis urna turpis at erat.
  
  
      </p>
    </article>
  
  
      <div class="informacion">
  
        <div class="row">
          <div class="col-12 col-md-2">
            <img src="https://fakeimg.pl/80x80" alt="">
          </div>
          <div class="col-12 col-md-4">
            <div class="row">
              <div class="col">
                <span class="nombre">Omar</span>
              </div>
            </div>
            <div class="row">
              <div class="col frase">
                Lorem ipsum dolor sit amet
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 descripcion">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis iaculis facilisis odio, at scelerisque lorem
            lobortis ut.
          </div>
        </div>
  
      </div>
    <ng-container *ngIf="mostrarComentarios">
  
      <div class="social">
        <button class="btn btn-block mt-3 primario">
          <i class="fas fa-comments"></i>
          10 Comentarios
        </button>
  
        <div class="comentarios">
  
          <app-comentario></app-comentario>
  
        </div>
  
      </div>
    </ng-container>
    <h4 class="mt-4">Otras entradas</h4>
    <app-lista-post></app-lista-post>
  </div>
</div>
