<div class="container-fluid">
  <div class="comentario row">
    <div class="autor col-12 col-md-2">
      <div class="row text-center">
        <div class="col">
          <img class="imagen-comentario"
            src="https://pbs.twimg.com/profile_images/1234841215146897408/NSmBc4PL_400x400.jpg">
        </div>
      </div>
      <div class="row medallas mt-2">
        <div class="col">
          <i class="fas fa-gem"></i> Omar
        </div>
      </div>
    </div>
    <div class="texto col-11 col-md-9">
      Los comentarios y las votaciones de estos actualmente están deshabilitados.
    </div>
    <div class="votaciones col-1 col-md-1">
      <div class="row">
        <div class="col-12">
          <i class="fas fa-angle-up positivo"></i>
        </div>
        <div class="col-12 votos">
          0
        </div>
        <div class="col-12">
          <i class="fas fa-angle-down negativo"></i>
        </div>
      </div>
    </div>

  </div>

  <div *ngIf="false" class="herramientas row">
    <div class="col denunciar">
      <i class="fas fa-flag"></i> Denunciar
    </div>
    <div class="col responder">
      <i class="fas fa-reply"></i> Responder
    </div>
  </div>
</div>
