<div class="container-fluid">
  <div class="comentario row">
    <div class="autor col-12 col-md-2">
      <div class="row text-center">
        <div class="col">
          <img src="https://fakeimg.pl/80x80">
        </div>
      </div>
      <div class="row medallas">
        <div class="col">
          <i class="fas fa-gem"></i>
          Omar
        </div>
      </div>
    </div>
    <div class="texto col-11 col-md-9">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis iaculis facilisis odio, at scelerisque lorem lobortis
      ut.
  
    </div>
    <div class="votaciones col-1 col-md-1">
      <div class="row">
        <div class="col-12">
          <i class="fas fa-angle-up positivo"></i>
        </div>
        <div class="col-12 votos">
          2
        </div>
        <div class="col-12">
          <i class="fas fa-angle-down negativo"></i>
        </div>
      </div>
    </div>
  
  </div>
  
  <div class="herramientas row">
    <div class="col denunciar">
      <i class="fas fa-flag"></i>
      Denunciar
    </div>
    <div class="col responder">
      <i class="fas fa-reply"></i>
      Responder
    </div>
  </div>
</div>
