<div class="jumbotron fondo-oscuro rounded-0 animate__animated animate__lightSpeedInLeft">
  <div class="container">
    <h1 class="display-4">Bienvenido</h1>
    <p class="lead">Compartiendo proyectos personales, conocimiento y mi pensar...</p>
    <p>Suscríbete a las notificaciones push para saber acerca de mis proyectos y los trabajos a futuro.</p>
    <a class="btn btn-lg" href="#" role="button">Suscribirse</a>
  </div>
</div>

<div class="container">
  <app-lista-post></app-lista-post>
</div>