#presentacion {
    text-align: center;
    background-color: #333646;
    padding: 10px 10px 50px 10px;
    .imagen-perfil {
        text-align: center;
        padding-top: 50px;
        margin-bottom: 15px;
        img {
            height: 160px;
            width: 160px;
            border-radius: 50%;
        }
    }
    h1 {
        font-family: 'Rubrik-Bold';
        color: #EBEBEC;
        margin-top: 50px;
    }
    .boton {
        margin-top: 80px;
        font-family: 'Rubrik-Semibold';
    }
}

.descripcion {
    font-family: 'Rubrik-Light';
    margin-top: 20px;
    font-family: 26px;
    color: #CFCFCF;
}

#acerca-mi {
    padding: 50px;
    img {
        border-radius: 50%;
    }
}

.escaparate {
    min-height: 100vh;
    .card {
        background-color: #333646;
        cursor: pointer;
    }
}