<nav class="navbar navbar-dark">
    <div class="redes">
        <a href="https://twitter.com/omarmtya">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.facebook.com/profile.php?id=100040176922947">
            <i class="fab fa-facebook"></i>
        </a>
        <a href="https://www.instagram.com/omar_mtya/">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.youtube.com/channel/UCPXXAuWnkhv77E_WD0Wjxeg">
            <i class="fab fa-youtube"></i>
        </a>
        <a href="https://steamcommunity.com/id/bjbbomb?l=spanish">
            <i class="fab fa-steam"></i>
        </a>
        <a href="http://github.com/omarmtya">
            <i class="fab fa-github"></i>
        </a>
        <a href="https://www.twitch.tv/barbasingracia">
            <i class="fab fa-twitch"></i>
        </a>
    </div>
</nav>
