.navbar {
    .redes {
        color: white;
        i {
            margin: 10px;
        }
    }
    position: absolute;
    bottom: 0;
    width: 100vw;
    justify-content: center;
}

a:link,
a:visited {
    color: inherit;
}
