<nav class="navbar navbar-dark">
    <div class="redes">
        <a target="_blank" href="https://twitter.com/omarmtya">
            <i class="fab fa-twitter"></i>
        </a>
        <a target="_blank" href="https://www.facebook.com/profile.php?id=100040176922947">
            <i class="fab fa-facebook"></i>
        </a>
        <a target="_blank" href="https://www.instagram.com/omar_mtya/">
            <i class="fab fa-instagram"></i>
        </a>
        <a target="_blank" href="https://www.youtube.com/channel/UCPXXAuWnkhv77E_WD0Wjxeg">
            <i class="fab fa-youtube"></i>
        </a>
        <a target="_blank" href="https://steamcommunity.com/id/omarmtya?l=spanish">
            <i class="fab fa-steam"></i>
        </a>
        <a target="_blank" href="http://github.com/omarmtya">
            <i class="fab fa-github"></i>
        </a>
        <a target="_blank" href="https://www.linkedin.com/in/omarmtya">
            <i class="fab fa-linkedin"></i>
        </a>
    </div>
</nav>
